button {
    background-color: transparent;
    min-width: 64px;
    padding: 6px 8px;
    font-size: 8px;
    font-weight: bold;
    border-radius: 64px;
    transition: background-color 0.2s, transform 0.1s;
}

button:hover {
    background-color: #888B74;
    transform: scale(1.05);
}

button:active {
    background-color: #6B705B;
    transform: scale(0.95);
}

button.toolbar {
    background-color: transparent;
    border: None;
    color: white;
    margin: 0px;
}

button.toolbar:hover {
    background-color: #4b4e47;
}

button.toolbar:active {
    background-color: darkgrey;
}
